body{
    background-image: url('https://images.unsplash.com/photo-1558478551-fe0b7f35053f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* La imagen estará centrada */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
    background-color: rgba(255, 255, 255, 0.692);
    background-blend-mode: overlay;
}
.card-text{
    color: rgb(54, 54, 54);
}
.container{
    background-color: white;
    margin-top: 2%;
    padding-bottom: 2%;
}

.xx{
    background-color: rgb(76, 63, 104);
}
